.home__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-area: 
    "form form"
    "todolist tododone"
    ;
    place-items: center;
}

.home__form{
    grid-area: form;
}

.home__boxtodos{
    grid-area: todolist;
}

.home__boxdone{
    grid-area: tododone;
}

@media screen and (max-width: 768px){
    .home__container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-area: 
        "form"
        "todolist "
        "tododone"
    ;
    }
}